{% extends 'frontend/base.html' %}
{% load static %}

{% block link %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/app_calculator/index.css' %}">
{% endblock link %}

{% block title %}
    App: Taschenrechner
{% endblock title %}

{% block content %}
<div class="grid-container">
    <div class="grid-header">
        <a href="{% url 'frontend-main' %}">
            <i class="bi bi-backspace-fill"></i>
        </a>
    </div>
    <div class="grid-calculator">
        <div class="grid-container-calculator">
            <div class="grid-0"><div class="standard-button double-width standard-button-number" id="btn-0">0</div></div>
            <div class="grid-1"><div class="standard-button standard-button-number" id="btn-1">1</div></div>
            <div class="grid-2"><div class="standard-button standard-button-number" id="btn-2">2</div></div>
            <div class="grid-3"><div class="standard-button standard-button-number" id="btn-3">3</div></div>
            <div class="grid-4"><div class="standard-button standard-button-number" id="btn-4">4</div></div>
            <div class="grid-5"><div class="standard-button standard-button-number" id="btn-5">5</div></div>
            <div class="grid-6"><div class="standard-button standard-button-number" id="btn-6">6</div></div>
            <div class="grid-7"><div class="standard-button standard-button-number" id="btn-7">7</div></div>
            <div class="grid-8"><div class="standard-button standard-button-number" id="btn-8">8</div></div>
            <div class="grid-9"><div class="standard-button standard-button-number" id="btn-9">9</div></div>
            <div class="grid-ac"><div class="standard-button double-width standard-button-other" id="btn-ac">AC</div></div>
            <div class="grid-equal"><div class="standard-button standard-button-calc" id="btn-equal">=</div></div>
            <div class="grid-plus"><div class="standard-button double-height standard-button-calc" id="btn-plus">+</div></div>
            <div class="grid-minus"><div class="standard-button standard-button-calc" id="btn-minus">-</div></div>
            <div class="grid-multi"><div class="standard-button standard-button-calc" id="btn-multi">*</div></div>
            <div class="grid-divide"><div class="standard-button standard-button-calc" id="btn-divide">/</div></div>
            <div class="grid-root"><div class="standard-button standard-button-calc" id="btn-root">&#8730</div></div>
            <div class="grid-display" id="field-display">
                <div></div>
                <p id="field-display-p-small"></p>
                <p id="field-display-p"></p>
            </div>
            <div class="grid-history" id="field-history"></div>
            <div class="grid-empty-top"></div>
            <div class="grid-empty-bottom"></div>
            <div class="grid-empty-left"></div>
            <div class="grid-empty-right"></div>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
    <script type="text/javascript" src="{% static 'js/app_calculator/index.js' %}"></script>
{% endblock script %}