/* Grid */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 1fr 1fr 0.5fr 1fr 1fr 0.5fr 0.1fr;
    gap: 16px;
    margin: 16px;
    grid-template-areas:
        "grid-back grid-address grid-address grid-address grid-address grid-address grid-address grid-address grid-address"
        "grid-empty-left grid-empty-left grid-warning grid-warning grid-warning grid-warning grid-warning grid-empty-right grid-empty-right"
        "grid-temperature grid-temperature grid-temperature grid-temperature grid-temperature grid-temperature grid-map grid-map grid-map"
        "grid-temperature grid-temperature grid-temperature grid-temperature grid-temperature grid-temperature grid-map grid-map grid-map"
        "grid-temperature grid-temperature grid-temperature grid-temperature grid-temperature grid-temperature grid-map grid-map grid-map"
        "grid-wind grid-wind grid-wind grid-rain grid-rain grid-rain grid-pop grid-pop grid-pop"
        "grid-wind grid-wind grid-wind grid-rain grid-rain grid-rain grid-pop grid-pop grid-pop"
        "grid-wind grid-wind grid-wind grid-rain grid-rain grid-rain grid-pop grid-pop grid-pop"
        "grid-copy grid-copy grid-copy grid-copy grid-copy grid-copy grid-copy grid-copy grid-copy";
}
.grid-back { grid-area: grid-back; }
.grid-address {
    grid-area: grid-address;
    text-align: right;
}
.grid-warning { grid-area: grid-warning; }
.grid-temperature { grid-area: grid-temperature; }
.grid-rain { grid-area: grid-rain; }
.grid-wind { grid-area: grid-wind; }
.grid-pop { grid-area: grid-pop; }
.grid-copy {
    grid-area: grid-copy;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.grid-map { grid-area: grid-map; };
.grid-empty-left { grid-area: grid-empty-left; };
.grid-empty-right { grid-area: grid-empty-right; };

.grid-address > h3 {
    margin: auto 16px;
}

.grid-warning > div {
    max-width: 1200px;
    border: 1px solid var(--color-dark-beige);
    border-radius: 16px;
    background-color: var(--color-dark-beige);
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.grid-warning > div > h6 {
    margin: 16px 0;
}

#sign-back {
    position: absolute;
    top: 15px;
    left: 25px;
}
#sign-back > i {
    font-size: 24px;
    color: var(--color-mid-purple) !important;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-header > h6 {
    margin: 0;
}
.card-header > i {
    font-size: 20px;
}

/* Map */
#map {
    height: 365px;
    width: 100%;
}

/* Scrollbar */
body::-webkit-scrollbar,
.grid-app-03::-webkit-scrollbar {
    width: 11px;
}
body,
.grid-app-03 {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track,
.grid-app-03::-webkit-scrollbar-track {
    background: var(--color-mid-beige);
}
body::-webkit-scrollbar-thumb,
.grid-app-03::-webkit-scrollbar-thumb {
    background-color: var(--color-mid-purple);
    border-radius: 6px;
    border: 3px solid var(--color-mid-purple);
}