/* Root */
:root {
    --color-light-beige: #F0ECE3;
    --color-mid-beige: #DFD3C3;
    --color-dark-beige: #C7B198;
    --color-mid-purple: #A68DAD;
    --tile-size-1: 16.67vh;
    --tile-size-2: 33.34vh;
    --img-height-1: 150px;
    --img-height-2: 300px;
}

/* Grid */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 16px;
    margin: 16px;
    grid-template-areas:
    "tile-header tile-header tile-header tile-header tile-header tile-header"
    "tile-py tile-py tile-js tile-js tile-html-css tile-html-css"
    "tile-py tile-py tile-js tile-js tile-html-css tile-html-css"
    "tile-sql tile-sql tile-csharp tile-empty-1 tile-vba tile-vba"
    "tile-sql tile-sql tile-empty-2 tile-react tile-angular tile-angular"
    "tile-django tile-django tile-drf tile-drf tile-angular tile-angular"
    "tile-django tile-django tile-jquery tile-jquery tile-node tile-node";
}
.tile-header { grid-area: tile-header; }
.tile-py { grid-area: tile-py; }
.tile-js { grid-area: tile-js; }
.tile-html-css { grid-area: tile-html-css; }
.tile-sql { grid-area: tile-sql; }
.tile-csharp { grid-area: tile-csharp; }
.tile-vba { grid-area: tile-vba; }
.tile-angular { grid-area: tile-angular; }
.tile-react { grid-area: tile-react; }
.tile-django { grid-area: tile-django; }
.tile-drf { grid-area: tile-drf; }
.tile-jquery { grid-area: tile-jquery; }
.tile-node { grid-area: tile-node; }
.tile-empty-1 { grid-area: tile-empty-1; }
.tile-empty-2 { grid-area: tile-empty-2; }

/* Tiles */
.tile-py {
    background-color: var(--color-light-beige);
}
.tile-drf,
.tile-js,
.tile-html-css,
.tile-node {
    background-color: var(--color-mid-beige);
}
.tile-angular,
.tile-sql {
    background-color: var(--color-dark-beige);
}
.tile-django,
.tile-react,
.tile-vba {
    background-color: var(--color-mid-purple);
}

.tile-py {
    height: var(--tile-size-2);
    width: 100%;
}
.tile-blank {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}
.tile-blank > img {
    height: 100%;
    padding: 32px;
}
.tile-blank > .img-height-1 {
    max-height: var(--img-height-1);
}
.tile-blank > .img-height-2 {
    max-height: var(--img-height-2);
}
.tile-blank > .content {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    margin: 0;
    padding: 20px;
    border-radius: 16px;
}
