body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #F0ECE3;
    display: flex;
    justify-content: space-around;
}

.card {
    margin-top: 35vh !important;
    max-width: 600px;
    background-color: #DFD3C3;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.card > .card-body {
    text-align: center;
}
.card > .card-body > h4 {
    margin: 0.5rem 0;
    font-weight: 700;
}

.flex-input {
    margin: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 63px;
    height: 42px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

button {
    margin: 0.5rem 0;
    min-width: 150px;
    border: 1px solid #ccc !important;
    background-color: #A68DAD !important;
}
