html {
    scroll-behavior: smooth;
    font-size: 100% !important;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    max-height: 100vh !important;
    max-width: 99vw !important;
}

/* Grid */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.05fr 1fr 1fr 0.05fr 0.5fr 0.75fr 0.25fr;
    gap: 1rem;
    grid-template-areas:
        "grid-header grid-header grid-header grid-header grid-header grid-header grid-header grid-header"
        "grid-name grid-name grid-name grid-name grid-name grid-name grid-name grid-name"
        "grid-app-01 grid-app-01 grid-app-01 grid-app-02 grid-app-02 grid-app-02 grid-info grid-info"
        "grid-portfolio grid-portfolio grid-portfolio grid-portfolio grid-portfolio grid-portfolio grid-portfolio grid-portfolio"
        "grid-app-03 grid-app-03 grid-app-03 grid-app-03 grid-app-03 grid-app-03 grid-app-03 grid-app-03"
        "grid-app-04 grid-app-04 grid-app-05 grid-app-05 grid-app-06 grid-app-06 grid-app-07 grid-app-07"
        "grid-links grid-links grid-links grid-links grid-links grid-links grid-links grid-links";
}
.grid-header {
    grid-area: grid-header;
    position: relative;
}
.grid-name {
    grid-area: grid-name;
    position: relative;
    height: 70vh;
}
.grid-info {
    grid-area: grid-info;
    border-left: 2px solid var(--color-mid-purple);
}
.grid-portfolio { grid-area: grid-portfolio; }
.grid-links { grid-area: grid-links; }
.grid-app-01 { grid-area: grid-app-01; }
.grid-app-02 { grid-area: grid-app-02; }
.grid-app-03 { grid-area: grid-app-03; }
.grid-app-04 { grid-area: grid-app-04; }
.grid-app-05 { grid-area: grid-app-05; }
.grid-app-06 { grid-area: grid-app-06; }
.grid-app-07 { grid-area: grid-app-07; }

.grid-app-01,
.grid-app-02,
.grid-info {
    height: 50vh;
    min-height: 34.375rem;
    text-align: right;
}
.grid-app-01,
.grid-app-02 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.grid-app-03 {
    min-height: 15.625rem;
}
.grid-app-04,
.grid-app-05,
.grid-app-06,
.grid-app-07 {
    /* width: 23vw; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.grid-header > i {
    position: fixed;
    top: 0.5625rem;
    left: 1.375rem;
    z-index: 10;
    color: var(--color-mid-purple);
    margin-right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}
.grid-header > div > p {
    margin: 1.125rem 0 0 3.75rem;
    font-weight: 700;
}

.grid-name > h1 {
    position: absolute;
    bottom: 0;
    padding-left: 1rem;
    padding-bottom: 3rem;
    font-size: 7.8125rem;
    font-weight: 700;
}

.grid-info {
    padding-left: 1rem;
}
.grid-info > h4,
.grid-info > p {
    padding-right: 2.5rem;
}
.grid-info > h4 {
    padding-bottom: 1rem;
}
.grid-info > h4:nth-child(1),
.grid-info > h4:nth-child(4),
.grid-info > h4:nth-child(15) {
    margin-top: 2rem;
}
.grid-info > p {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    font-size: 0.875rem;
}

.grid-container-weather {
    height: 100%;
    width: 100%;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    gap: 0px;
    grid-template-areas:
        "grid-icon"
        "grid-input";
}
.grid-icon { grid-area: grid-icon; }
.grid-input { grid-area: grid-input; }
.grid-icon,
.grid-input > form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.grid-input > form > input[type=text],
.grid-input > form > button {
    padding: 0 0.5rem;
    height: 2.625rem;
    border-radius: 1rem;
}
.grid-input > form > button {
    min-width: 4.375rem;
}
.grid-icon > i,
.grid-icon > a > i {
    font-size: 6.25rem;
    color: var(--color-mid-purple);
}

.grid-portfolio > h1 {
    padding: 0 0 0 1rem;
    font-size: 5.625rem;
    font-weight: 700;
}

.grid-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.grid-links > i {
    margin: 1rem;
    font-size: 3.125rem;
    color: var(--color-mid-purple);
}

.grid-app-01 {
    padding-left: 1rem;
}
.grid-app-01,
.grid-app-01 > .card-body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.grid-app-01 > .card-body {
    height: 100%;
    width: 100%;
}
.grid-app-01,
.grid-app-02 {
    background-color: var(--color-mid-beige);
}
.grid-app-03 {
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
}
.grid-app-03 > h3 {
    padding: 0 4rem 0 2rem;
}
.grid-app-03 > .card {
    margin-right: 2rem;
    height: 100% !important;
    width: 18.75rem !important;
    min-width: 18.75rem !important;
    max-width: 18.75rem !important;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.grid-app-03 > .card > p {
    margin: 0.5rem 0;
}

.grid-app-04,
.grid-app-05,
.grid-app-06 {
    border-right: 2px solid var(--color-mid-purple);
}
.grid-app-04 > div > div:nth-child(1),
.grid-app-05 > div > div:nth-child(1),
.grid-app-06 > div > div:nth-child(1),
.grid-app-07 > div > div:nth-child(1) {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.grid-app-04 > div > div:nth-child(2),
.grid-app-05 > div > div:nth-child(2),
.grid-app-06 > div > div:nth-child(2),
.grid-app-07 > div > div:nth-child(2) {
    width: 100%;
    height: 15%;
    text-align: center;
}
.grid-app-04 > div > div > i,
.grid-app-05 > div > div > i,
.grid-app-06 > div > div > i,
.grid-app-07 > div > div > i {
    font-size: 4.6875rem;
    color: var(--color-mid-purple);
}
.grid-app-04 > div > div > a:link,
.grid-app-04 > div > div > a:visited,
.grid-app-04 > div > div > a:active,
.grid-app-05 > div > div > a:link,
.grid-app-05 > div > div > a:visited,
.grid-app-05 > div > div > a:active,
.grid-app-06 > div > div > a:link,
.grid-app-06 > div > div > a:visited,
.grid-app-06 > div > div > a:active,
.grid-app-07 > div > div > a:link,
.grid-app-07 > div > div > a:visited,
.grid-app-07 > div > div > a:active {
    margin: 0;
    padding: 0;
    font-size: 1.25rem;
    font-weight: 700;
    text-decoration: none;
    color: #000;
}
.grid-app-04 > div > div > a:hover,
.grid-app-05 > div > div > a:hover,
.grid-app-06 > div > div > a:hover,
.grid-app-07 > div > div > a:hover {
    font-size: 1.5rem;
}

/* Map */
.map-leaflet {
    height: 100%;
    border: 1px solid var(--color-mid-beige);
    border-radius: 0.5rem;
}

/* Flip-Animations */
.tile-flip {
    position: relative;
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
    border-radius: 0.75rem;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
}
.tile-flip:hover {
    transform: rotateY(180deg);
}
.tile-flip-front,
.tile-flip-back {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.tile-flip-front {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.75rem;
    backface-visibility: hidden;
    overflow: hidden;
    text-align: center;
    padding: 0 2rem;
}
.tile-flip-front > p {
    margin: 0;
    font-size: 1.25rem;
}
.tile-flip-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.75rem;
    backface-visibility: hidden;
    overflow: hidden;
    text-align: center;
    transform: rotateY(180deg);
}
.tile-flip-back > a:link,
.tile-flip-back > a:visited,
.tile-flip-back > a:hover,
.tile-flip-back > a:active {
    text-decoration: none;
}
.tile-flip-back > a > i,
.tile-flip-back > a > h1 {
    color: var(--color-mid-purple);
}
.tile-flip-back > a > i {
    font-size: 6.25rem;
}

/* Scrollbar */
body::-webkit-scrollbar,
.grid-app-03::-webkit-scrollbar {
    width: 11px;
}
body,
.grid-app-03 {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track,
.grid-app-03::-webkit-scrollbar-track {
    background: var(--color-mid-beige);
}
body::-webkit-scrollbar-thumb,
.grid-app-03::-webkit-scrollbar-thumb {
    background-color: var(--color-mid-purple);
    border-radius: 6px;
    border: 3px solid var(--color-mid-purple);
}

/* Media-Queries */
@media only screen and (max-width: 1200px) {
    .grid-name > h1 {
        font-size: 6.25rem;
    }
}
@media only screen and (max-width: 1000px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.05fr 1fr 1fr 1fr 0.05fr 0.5fr 0.25fr 0.25fr 0.25fr;
        grid-template-areas:
            "grid-header grid-header grid-header grid-header"
            "grid-name grid-name grid-name grid-name"
            "grid-app-01 grid-app-01 grid-app-01 grid-info"
            "grid-app-02 grid-app-02 grid-app-02 grid-info"
            "grid-portfolio grid-portfolio grid-portfolio grid-portfolio"
            "grid-app-03 grid-app-03 grid-app-03 grid-app-03"
            "grid-app-04 grid-app-04 grid-app-05 grid-app-05"
            "grid-app-06 grid-app-06 grid-app-07 grid-app-07"
            "grid-links grid-links grid-links grid-links";
    }

    .grid-app-04,
    .grid-app-05,
    .grid-app-06,
    .grid-app-07 {
        border: 0;
        height: 25vh;
    }
}
@media only screen and (max-width: 750px) {
    html {
        font-size: 90% !important;
    }
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.05fr 1fr 0.5fr 0.5fr 0.05fr 0.5fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr;
        grid-template-areas:
            "grid-header grid-header grid-header grid-header"
            "grid-name grid-name grid-name grid-name"
            "grid-app-01 grid-app-01 grid-app-01 grid-info"
            "grid-app-02 grid-app-02 grid-app-02 grid-info"
            "grid-portfolio grid-portfolio grid-portfolio grid-portfolio"
            "grid-app-03 grid-app-03 grid-app-03 grid-app-03"
            "grid-app-04 grid-app-04 grid-app-04 grid-app-04"
            "grid-app-05 grid-app-05 grid-app-05 grid-app-05"
            "grid-app-06 grid-app-06 grid-app-06 grid-app-06"
            "grid-app-07 grid-app-07 grid-app-07 grid-app-07"
            "grid-links grid-links grid-links grid-links";
    }
    .grid-app-01,
    .grid-app-02 {
        min-height: 30rem;
    }
    .grid-info {
        min-height: calc(30rem * 2);
    }
    .grid-app-04,
    .grid-app-05,
    .grid-app-06,
    .grid-app-07 {
        height: 20vh;
    }
}
@media only screen and (max-width: 600px) {
    html {
        font-size: 80% !important;
    }
    .grid-app-01,
    .grid-app-02 {
        min-height: 25rem;
    }
    .grid-info {
        min-height: calc(25rem * 2);
    }
}
@media only screen and (max-width: 500px) {
    html {
        font-size: 60% !important;
    }
    .grid-name {
        height: 40vh;
    }
    .grid-name > h1 {
        padding-bottom: 1rem;
    }
    .grid-app-01,
    .grid-app-02 {
        min-height: 20rem;
    }
    .grid-info {
        min-height: calc(20rem * 2);
    }
    .grid-app-03 > .card {
        height: 70% !important;
    }
}