/* Root */
:root {
    --color-light-beige: #F0ECE3;
    --color-mid-beige: #DFD3C3;
    --color-dark-beige: #C7B198;
    --color-mid-purple: #A68DAD;
    --tile-size-1: 12.5vh;
    --tile-size-2: 25vh;
    --tile-size-3: 37.5vh;
    --tile-i-size-1: 50px;
    --tile-i-size-2: 100px;
    --tile-i-size-3: 150px;
}

/* Grid */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 16px;
    margin: 16px;
    grid-template-areas:
    "tile-01 tile-01 tile-02 tile-03 tile-04 tile-name tile-name tile-name"
    "tile-01 tile-01 tile-02 tile-03 tile-04 tile-name tile-name tile-name"
    "tile-05 tile-resume tile-resume tile-03 tile-04 tile-name tile-name tile-name"
    "tile-05 tile-resume tile-resume tile-03 tile-04 tile-11 tile-11 tile-11"
    "tile-05 tile-06 tile-languages tile-languages tile-languages tile-11 tile-11 tile-11"
    "tile-07 tile-07 tile-languages tile-languages tile-languages tile-12 tile-12 tile-13"
    "tile-07 tile-07 tile-languages tile-languages tile-languages tile-12 tile-12 tile-13"
    "tile-07 tile-07 tile-08 tile-09 tile-10 tile-todo tile-todo tile-todo";
}
.tile-name { grid-area: tile-name; }
.tile-resume { grid-area: tile-resume; }
.tile-languages { grid-area: tile-languages; }
.tile-todo { grid-area: tile-todo; }
.tile-01 { grid-area: tile-01; }
.tile-02 { grid-area: tile-02; }
.tile-03 { grid-area: tile-03; }
.tile-04 { grid-area: tile-04; }
.tile-05 { grid-area: tile-05; }
.tile-06 { grid-area: tile-06; }
.tile-07 { grid-area: tile-07; }
.tile-08 { grid-area: tile-08; }
.tile-09 { grid-area: tile-09; }
.tile-10 { grid-area: tile-10; }
.tile-11 { grid-area: tile-11; }
.tile-12 { grid-area: tile-12; }
.tile-13 { grid-area: tile-13; }

.tile-blank {
    border: 1px solid var(--color-dark-beige);
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.tile-01 {
    height: var(--tile-size-2);
    width: var(--tile-size-2);
}
.tile-todo,
.tile-01,
.tile-02,
.tile-04,
.tile-07,
.tile-11 {
    background-color: var(--color-mid-beige);
}
.tile-languages,
.tile-resume,
.tile-03,
.tile-10 {
    background-color: var(--color-dark-beige);
}
.tile-name,
.tile-05,
.tile-09,
.tile-12 {
    background-color: var(--color-mid-purple);
}

.tile-languages,
.tile-name,
.tile-resume,
.tile-todo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.tile-languages > div,
.tile-name > div,
.tile-resume > div,
.tile-todo > div {
    text-align: center;
}
.tile-languages > div > h1,
.tile-name > div > h1,
.tile-resume > div > h1,
.tile-todo > div > h1 {
    color: #fff;
    font-weight: 700;
    font-family: 'Sora', sans-serif;
}
.tile-languages > a > i,
.tile-resume > a > i {
    color: var(--color-light-beige) !important;
    font-size: var(--tile-i-size-2);
}
.tile-todo > a > i {
    color: var(--color-mid-purple) !important;
    font-size: var(--tile-i-size-1);
}
