/* Root */
:root {
    --scrollbarBG: #CFD8DC;
    --thumbBG: #90A4AE;
}

.container-header {
    padding: 1rem;
}

.container {
    width: 50vw !important;
}
.container > .card {
    min-width: 550px;
}

.card-header {
    background-color: var(--color-mid-beige);
}

#form-store {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    height: 60vh;
    margin: 0;
    padding: 0;
}
ul > li {
    margin: 16px;
    background-color: var(--color-dark-beige);
    border: 1px solid var(--color-dark-beige);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
ul > li > p {
    margin: 0 16px;
}
ul > li > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul > li > div > button {
    margin: 8px;
    height: 28px;
    width: 50px;
}

.p-text {
    white-space: nowrap;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Button & Link */
#btn-xls-store {
    margin: 8px 16px;
    height: 42px;
    min-width: 50px;
    width: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Scrollbar */
ul::-webkit-scrollbar {
    width: 11px;
}
ul {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
ul::-webkit-scrollbar-track {
    background: var(--color-mid-beige);
}
ul::-webkit-scrollbar-thumb {
    background-color: var(--color-light-beige);
    border-radius: 6px;
    border: 3px solid var(--color-light-beige);
}

/* Media-Queries */
@media only screen and (max-width: 1960px) {
    .container {
        width: 750px;
    }
}
@media only screen and (max-width: 1550px) {
    .p-text {
        width: 250px;
    }
}
@media only screen and (max-width: 1420px) {
    .p-text {
        width: 200px;
    }
}
@media only screen and (max-width: 1330px) {
    .p-text {
        width: 150px;
    }
}
@media only screen and (max-width: 1230px) {
    .p-text {
        width: 100px;
    }
}
