{% extends 'frontend/base.html' %}
{% load static %}

{% block link %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/app_calendar/index.css' %}">
{% endblock link %}

{% block title %}
    App: Calendar
{% endblock title %}

{% block content %}
    <div class="container-header">
        <a href="{% url 'frontend-main' %}">
            <i class="bi bi-backspace-fill"></i>
        </a>
    </div>
    <div class="container-content">
        <div class="card" id="card-create">
            <div class="card-body">
                <form id="form-calendar">
                    <label>Bezeichnung:</label>
                    <input type="text" id="input-name" placeholder="Bezeichnung..." autocomplete="off" required>
                    <label>Datum:</label>
                    <div class="input-flex-start">
                        <input type="date" id="input-date">
                    </div>
                    <label>Uhrzeit:</label>
                    <div class="input-flex-between">
                        <input type="time" id="input-time-from">
                        <input type="time" id="input-time-to">
                    </div>
                    <label>weitere Angaben:</label>
                    <textarea name="textarea-description" id="textarea-description" cols="30" rows="5"></textarea>
                    <p id="p-description-counter">verbleibende Zeichen: 100</p>
                    <label id="lbl-position">Position:</label>
                    <div id="map"></div>
                    <button class="btn btn-success btn-sm btn-post-appointment" type="button">+</button>
                </form>
            </div>
        </div>
        <div class="card" id="card-list">
            <div class="card-body" id="calendar-list-body">
            </div>
        </div>
    </div>
{% endblock content %}

{% block script %}
    <script type="text/javascript" src="{% static 'js/app_calendar/index.js' %}"></script>
{% endblock script %}
