.box-element {
    border: 1px solid var(--color-mid-beige);
    background-color: var(--color-mid-beige);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    margin-top: 1rem;
}
.box-element > .cart-row > div > img {
    margin-left: 1rem;
    border-radius: 8px;
}

#btn-keep-shopping,
#btn-confirm {
    border-radius: 8px;
}
