{% extends 'frontend/base.html' %}
{% load static %}

{% block link %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/languages.css' %}">
{% endblock link %}

{% block title %}
    Programmiersprachen
{% endblock title %}

{% block content %}
<div class="grid-container">
    <div class="tile-header">
        <a href="{% url 'frontend-main' %}">
            <i class="bi bi-backspace-fill"></i>
        </a>
    </div>
    <div class="tile-py tile-blank">
        <img class="img-height-2" src="{% static 'img/python-logo.png' %}" alt="Python">
        <div class="content">
            <h3>Python</h3>
            <p>Backend (Django-Framework), PyQt5, TKinter, Skripte und Add-Ons für QGis, APIs, Automatisierungen ...</p>
        </div>
    </div>
    <div class="tile-js tile-blank">
        <img class="img-height-2" src="{% static 'img/javascript-logo.png' %}" alt="Javascript">
        <div class="content">
            <h3>Javascript</h3>
            <p>Frontend (Django-Framework), Browsergames (Privat)</p>
        </div>
    </div>
    <div class="tile-html-css tile-blank">
        <img class="img-height-2" src="{% static 'img/html-css-logo.png' %}" alt="HTML & CSS">
        <div class="content">
            <h3 style="margin: 0;">HTML & CSS</h3>
        </div>
    </div>
    <div class="tile-sql tile-blank">
        <img class="img-height-2" src="{% static 'img/postgresql-logo.png' %}" alt="PostgrSQL">
        <div class="content">
            <h3 style="margin: 0;">PostgreSQL</h3>
        </div>
    </div>
    <div class="tile-csharp tile-blank">
        <img class="img-height-1" src="{% static 'img/csharp-logo.png' %}" alt="C#">
    </div>
    <div class="tile-cplusplus tile-blank">
        <img class="img-height-1" src="{% static 'img/cplusplus-logo.png' %}" alt="C++">
    </div>
    <div class="tile-vba tile-blank">
        <img class="img-height-1" src="{% static 'img/vba-logo.png' %}" alt="VBA">
    </div>
    <div class="tile-angular tile-blank">
        <img class="img-height-2" src="{% static 'img/angular-logo.png' %}" alt="Angular">
        <div class="content">
            <h3>Angular</h3>
            <p>SPA bei diversen internen und/oder externen Projekten.</p>
        </div>
    </div>
    <div class="tile-react tile-blank">
        <img class="img-height-1" src="{% static 'img/react-logo.png' %}" alt="React">
    </div>
    <div class="tile-vue tile-blank">
        <img class="img-height-1" src="{% static 'img/vue-logo.png' %}" alt="Vue">
    </div>
    <div class="tile-django tile-blank">
        <img class="img-height-2" src="{% static 'img/django-logo.png' %}" alt="Django">
    </div>
    <div class="tile-drf tile-blank">
        <img class="img-height-1" src="{% static 'img/djangorestframework-logo.png' %}" alt="DjangoRestFramework">
    </div>
    <div class="tile-jquery tile-blank">
        <img class="img-height-1" src="{% static 'img/jquery-logo.png' %}" alt="jQuery">
    </div>
</div>
{% endblock content %}

{% block script %}{% endblock script %}
