{% extends 'frontend/base.html' %}
{% load static %}

{% block link %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock link %}

{% block title %}
    Startseite
{% endblock title %}

{% block content %}
<div class="grid-container">
    <div class="tile-name tile-blank">
        <div>
            <h1>Finn Morten</h1>
            <h1>Then</h1>
        </div>
    </div>
    <div class="tile-resume tile-blank tile-flip">
        <div class="tile-flip-front">
            <i class="bi bi-person-circle"></i>
        </div>
        <div class="tile-flip-back">
            <a id="link-resume" href="{% url 'frontend-resume' %}">Lebenslauf</a>
        </div>
    </div>
    <div class="tile-languages tile-blank tile-flip">
        <div class="tile-flip-front">
            <i class="bi bi-folder"></i>
        </div>
        <div class="tile-flip-back">
            <a id="link-languages" href="{% url 'frontend-languages' %}">Sprachen</a>
        </div>
    </div>
    <div class="tile-todo tile-blank tile-flip">
        <div class="tile-flip-front">
            <i class="bi bi-clipboard-check"></i>
        </div>
        <div class="tile-flip-back">
            <a id="link-todo" href="{% url 'app-todo-index' %}">To-Do</a>
        </div>
    </div>
    <div class="tile-calendar tile-blank tile-flip">
        <div class="tile-flip-front">
            <i class="bi bi-calendar-date"></i>
        </div>
        <div class="tile-flip-back">
            <a id="link-calendar" href="{% url 'app-calendar-index' %}">Calendar</a>
        </div>
    </div>
    <div class="tile-calculator tile-blank tile-flip">
        <div class="tile-flip-front">
            <i class="bi bi-calculator"></i>
        </div>
        <div class="tile-flip-back">
            <a id="link-calculator" href="#">Calculator</a>
        </div>
    </div>
    <div class="tile-weather tile-blank tile-flip">
        <div class="tile-flip-front">
            <i class="bi bi-cloud-sun"></i>
        </div>
        <div class="tile-flip-back">
            <a id="link-weather" href="#">Weather</a>
        </div>
    </div>
    <div class="tile-01 tile-blank"></div>
    <div class="tile-02 tile-blank"></div>
    <div class="tile-03 tile-blank"></div>
    <div class="tile-04 tile-blank"></div>
    <div class="tile-05 tile-blank"></div>
    <div class="tile-06"></div>
    <div class="tile-07 tile-blank"></div>
    <div class="tile-08"></div>
    <div class="tile-09 tile-blank"></div>
    <div class="tile-10 tile-blank"></div>
    <div class="tile-11 tile-blank"></div>
    <div class="tile-12 tile-blank"></div>
    <div class="tile-13"></div>
    <div class="tile-14 tile-blank"></div>
    <div class="tile-15"></div>
    <div class="tile-16 tile-blank"></div>
    <div class="tile-17"></div>
    <div class="tile-18"></div>
</div>
{% endblock content %}

{% block script %}{% endblock script %}
