{% extends 'frontend/base.html' %}
{% load static %}

{% block link %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/frontend/resume.css' %}">
{% endblock link %}

{% block title %}
    Lebenslauf
{% endblock title %}

{% block content %}
    <div class="container-header">
        <a href="{% url 'frontend-main' %}">
            <i class="bi bi-backspace-fill"></i>
        </a>
    </div>
    <section>
        <h1>Lebenslauf &#8595;</h1>
    </section>
    <section>
        <div class="container reveal">
            <h2>Geburtstag</h2>
            <div class="text-container">
                <div class="text-box">
                    <h3>30.11.1987</h3>
                    <div class="map-leaflet" id="map-geburtstag"></div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container reveal">
            <h2>Schulzeit (1)</h2>
            <div class="text-container">
                <div class="text-box">
                    <h3>1993-1996</h3>
                    <div class="map-leaflet" id="map-grundschule"></div>
                    <p>Grundschule Wyk auf Föhr</p>
                </div>
                <div class="text-box">
                    <h3>1997</h3>
                    <div class="map-leaflet" id="map-isd"></div>
                    <p>International School of Düsseldorf</p>
                </div>
                <div class="text-box">
                    <h3>1998-2001</h3>
                    <div class="map-leaflet" id="map-gs-foehr"></div>
                    <p>Grundschule Föhr / Amrum</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container reveal">
            <h2>Schulzeit (2)</h2>
            <div class="text-container">
                <div class="text-box">
                    <h3>2001-2005</h3>
                    <div class="map-leaflet" id="map-gs-flensburg"></div>
                    <p>Gesamtschule Flensburg (KTS)</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container reveal">
            <h2>Ausbildung</h2>
            <div class="text-container">
                <div class="text-box">
                    <h3>2005-2009</h3>
                    <div class="map-leaflet" id="map-pi-1"></div>
                    <p>Technische:r Zeichner:in</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container reveal">
            <h2>Arbeitswelt (1)</h2>
            <div class="text-container">
                <div class="text-box">
                    <h3>2009</h3>
                    <div class="map-leaflet" id="map-pi-2"></div>
                    <p>Technische:r Zeichner:in</p>
                </div>
                <div class="text-box">
                    <h3>2010-2011</h3>
                    <div class="map-leaflet" id="map-pk"></div>
                    <p>Teamleiter:in Callcenter</p>
                </div>
                <div class="text-box">
                    <h3>2011-2014</h3>
                    <div class="map-leaflet" id="map-nkn-1"></div>
                    <p>Technische Beratung & Planung</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container reveal">
            <h2>Arbeitswelt (2)</h2>
            <div class="text-container">
                <div class="text-box">
                    <h3>2015</h3>
                    <div class="map-leaflet" id="map-nkn-2"></div>
                    <p>Teamleiter:in & Ausbildung Mitarbeiter:innen</p>
                </div>
                <div class="text-box">
                    <h3>2016-2018</h3>
                    <div class="map-leaflet" id="map-nkn-3"></div>
                    <p>Ausbildung Mitarbeiter:innen & Anwendungsentwicklung</p>
                </div>
                <div class="text-box">
                    <h3>2019-...</h3>
                    <div class="map-leaflet" id="map-nkn-4"></div>
                    <p>Anwendungs- & Webentwicklung</p>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

{% block script %}
    <script type="text/javascript" src="{% static 'js/frontend/resume.js' %}"></script>
{% endblock script %}
