/* Root */
:root {
    --color-light-beige: #F0ECE3;
    --color-mid-beige: #DFD3C3;
    --color-dark-beige: #C7B198;
    --color-mid-purple: #A68DAD;
}

/* Container */
.container-content,
.container-header {
    width: 100%;
}
.container-content {
    display: flex;
    justify-content: space-between;
}
.container-header {
    padding: 1rem;
}

/* Card */
.card-body {
    height: 100%;
}
#card-create,
#card-list {
    margin-right: 16px;
    margin-left: 16px;
}
#card-create {
    width: 500px;
}
#card-list {
    width: 100%;
}

/* Input & Textarea */
input[type=date],
input[type=number],
input[type=time],
input[type=text],
textarea {
    margin: 8px 0;
}
textarea {
    height: 150px;
    margin-bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    resize: none;
}

/* Header, Label & Paragraph */
label {
    margin-left: 8px;
    font-size: 12px;
    text-decoration: underline;
}
#lbl-position {
    margin-top: 16px;
}
p {
    margin: 0 0 0 8px;
    font-size: 10px;
}
.p-appointment-name {
    font-weight: 700;
}

/* Flex */
.input-flex-between,
.input-flex-start {
    display: flex;
    align-items: center;
}
.input-flex-between {
    justify-content: space-between;
}
.input-flex-start {
    justify-content: flex-start;
}

/* Map */
#map {
    margin: 8px 0;
    height: 250px;
    max-height: 250px;
    border: 1px solid var(--color-mid-beige);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.map-canvas {
    width: 100px;
    height: 100px;
}

/* Calendar List Objects */
#calendar-list-body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    grid-gap: 1em;
    overflow-y: auto;
}
#calendar-list-body > .card {
    margin: 8px;
    padding: 0;
    width: 270px;
    max-width: 270px;
    border: 1px solid var(--color-dark-beige);
    border-radius: 8px;
    background-color: var(--color-dark-beige);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
#calendar-list-body > .card > .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#calendar-list-body > .card > .card-footer > button {
    margin: 0;
    height: 32px;
    width: 100px;
}

/* Media-Queries */
@media only screen and (max-width: 600px) {
    .container-content {
        display: block;
    }
    #card-create {
        width: 100%;
    }
}
